/* Helvetica Neue font. */

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-Medium.eot');
	src: local('../../fonts/HelveticaNeue-Medium'),
		url('../../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-Medium.woff') format('woff'),
		url('../../fonts/HelveticaNeue-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-Heavy.eot');
	src: local('../../fonts/HelveticaNeue-Heavy'),
		url('../../fonts/HelveticaNeue-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-Heavy.woff') format('woff'),
		url('../../fonts/HelveticaNeue-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-HeavyItalic.eot');
	src: local('../../fonts/HelveticaNeue-HeavyItalic'),
		url('../../fonts/HelveticaNeue-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-HeavyItalic.woff') format('woff'),
		url('../../fonts/HelveticaNeue-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-Black.eot');
	src: local('../../fonts/HelveticaNeue-Black'),
		url('../../fonts/HelveticaNeue-Black.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-Black.woff') format('woff'),
		url('../../fonts/HelveticaNeue-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-UltraLightItalic.eot');
	src: local('../../fonts/HelveticaNeue-UltraLightItalic'),
		url('../../fonts/HelveticaNeue-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-UltraLightItalic.woff') format('woff'),
		url('../../fonts/HelveticaNeue-UltraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-BlackItalic.eot');
	src: local('../../fonts/HelveticaNeue-BlackItalic'),
		url('../../fonts/HelveticaNeue-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-BlackItalic.woff') format('woff'),
		url('../../fonts/HelveticaNeue-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-ThinItalic.eot');
	src: local('../../fonts/HelveticaNeue-ThinItalic'),
		url('../../fonts/HelveticaNeue-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-ThinItalic.woff') format('woff'),
		url('../../fonts/HelveticaNeue-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-MediumItalic.eot');
	src: local('../../fonts/HelveticaNeue-MediumItalic'),
		url('../../fonts/HelveticaNeue-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-MediumItalic.woff') format('woff'),
		url('../../fonts/HelveticaNeue-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-LightItalic.eot');
	src: local('../../fonts/HelveticaNeue-LightItalic'),
		url('../../fonts/HelveticaNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-LightItalic.woff') format('woff'),
		url('../../fonts/HelveticaNeue-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-UltraLight.eot');
	src: local('../../fonts/HelveticaNeue-UltraLight'),
		url('../../fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-UltraLight.woff') format('woff'),
		url('../../fonts/HelveticaNeue-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-BoldItalic.eot');
	src: local('../../fonts/HelveticaNeue-BoldItalic'),
		url('../../fonts/HelveticaNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-BoldItalic.woff') format('woff'),
		url('../../fonts/HelveticaNeue-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-Italic.eot');
	src: local('../../fonts/HelveticaNeue-Italic'),
		url('../../fonts/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-Italic.woff') format('woff'),
		url('../../fonts/HelveticaNeue-Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-Roman.eot');
	src: local('../../fonts/HelveticaNeue-Roman'),
		url('../../fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-Roman.woff') format('woff'),
		url('../../fonts/HelveticaNeue-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-Bold.eot');
	src: local('../../fonts/HelveticaNeue-Bold'),
		url('../../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-Bold.woff') format('woff'),
		url('../../fonts/HelveticaNeue-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-Light.eot');
	src: local('../../fonts/HelveticaNeue-Light'),
		url('../../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-Light.woff') format('woff'),
		url('../../fonts/HelveticaNeue-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue-Thin.eot');
	src: local('../../fonts/HelveticaNeue-Thin'),
		url('../../fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue-Thin.woff') format('woff'),
		url('../../fonts/HelveticaNeue-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
